@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,400&display=swap");

* {
  font-family: "Roboto", "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  line-height: 1.5;
}

html {
  font-size: 70%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background: #4da8da;
  padding-left: 30rem;
}

#menu-bar {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10000;
  background-color: #71b5e9;
  color: #eefbfb;
  border-radius: 1.5rem;
  padding: 1rem 1.5rem;
  font-size: 3rem;
  cursor: pointer;
  display: none;
}
header {
  position: fixed;
  background-color: #12232e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  padding: 8rem 2rem;
  width: 30rem;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

header .logo {
  text-transform: uppercase;
  font-size: 3rem;
  color: #eefbfb;
}

header .logo span {
  text-transform: uppercase;
  color: #4da8da;
}

header .navbar a {
  display: block;
  font-size: 2rem;
  color: #4da8da;
  margin: 2rem 0rem;
}

header .navbar a:hover {
  letter-spacing: 0.2rem;
  color: #eefbfb;
}

header .follow a {
  font-size: 2rem;
  color: #4da8da;
  margin: 0rem 0.5rem;
}

header .follow a:hover {
  color: #eefbfb;
  letter-spacing: 0.3rem;
}

/* media queriess */

@media (max-width: 991px) {
  html {
    font-size: 60%;
  }
  body {
    padding: 0;
  }
  #menu-bar {
    display: initial;
  }
  header {
    left: -120%;
  }
  header.active {
    left: 0%;
  }
}

/* home section start  */
section {
  padding: 1rem 2rem;
  min-height: 100vh;
}

.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.home .myimg {
  flex: 1 1 40rem;
}
.home .content {
  flex: 1 1 40rem;
}

.home .myimg img {
  width: 100%;
  border-radius: 50% 50% 25% 55%;
  transform: rotate(-20deg);
}

.home .content .hi {
  font-size: 4rem;
  color: #eefbfb;
}

.home .content .greeting {
  font-size: 3rem;
  color: #183950;
}
.home .content .greeting span {
  font-size: 2.5rem;
  color: #eefbfb;
}

.home .content .whatido {
  font-size: 3rem;
  color: #183950;
  font-weight: 700;
}

.home .content .whatido:hover {
  color: #0f6099;
  transition: all 0.7s ease;
  letter-spacing: 0.2rem;
}

.home .content .text {
  font-size: 1.7rem;
  color: #eefbfb;
  font-weight: 300;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  background-color: #12232e;
  color: #4da8da;
  border-radius: 20px;
}
.btn:hover {
  background-color: #eefbfb;
  color: #12232e;
  letter-spacing: 0.1rem;
}

/* home section end  */

/* about section start  */

.about .first-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.about .first-row .image {
  flex: 1 1 25rem;
}
.about .first-row .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #71b5e9;
  border-radius: 50% 35% 105% 55%;
  box-shadow: -0.2rem 1rem rgb(25, 99, 99, 0.5);
}
.about .first-row .about-content {
  flex: 1 1 50rem;
}
.about .first-row .about-content #justThis {
  font-size: 1.6rem;
  padding: 1rem 0.5rem;
  color: #183950;
  /* 0.5 0 */
}
.about .first-row .about-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 5rem 0.5rem;
}

.about .first-row .about-container .box {
  flex: 1 1 20rem;
}

.about .first-row .about-container .box span {
  color: #eefbfb;
  font-size: 1.5rem;
}
.about .first-row .about-container .box {
  color: #183950;
  font-size: 1.5rem;
}

/* animation text */
.wrapper {
  display: flex;
}

.wrapper .dynamic-txts {
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li {
  list-style: none;
  color: #183950;
  font-size: 2rem;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}
.dynamic-txts li span {
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 80%;
  width: 100%;
  margin-top: 32px;
  padding: 4px;
  background: #4da8da;
  border-left: 2px solid #183950;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}
/* about section end  */

/* services section start  */

.section-title {
  text-align: center;
  color: #183950;
  text-transform: uppercase;
  font-size: 30px;
}
.border {
  width: 160px;
  height: 2px;
  background: #82ccdd;
  margin: 40px auto;
}
.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-box {
  max-width: 33.33%;
  padding: 10px;
  text-align: center;
  color: #ddd;
  cursor: pointer;
}

.service-icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #82ccdd;
  color: #82ccdd;
  transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
  transition: 0.3s linear;
}
.service-icon i {
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 26px;
}
.service-box:hover .service-icon {
  background: #82ccdd;
  color: #ddd;
}
.service-title {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.service-desc {
  font-size: 14px;
}

@media screen and (max-width: 960px) {
  .service-box {
    max-width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .service-box {
    max-width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .service-box {
    max-width: 100%;
  }
}

/* services section end  */

/* start of skills section  */

.skills .second-row .my-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}
.skills .second-row .my-skills .progress {
  flex: 1 1 40rem;
  padding: 2rem 0rem;
}
.skills .second-row .my-skills .progress h3 {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  padding: 0.7rem 2rem;
}
.skills .second-row .my-skills .progress span {
  font-size: 1.6rem;
}
.skills .second-row .my-skills .progress .progress-bar {
  width: 100%;
  height: 1rem;
  border-radius: 150px;
  background-color: #71b5e9;
}
.skills .second-row .my-skills .progress .progress-bar span {
  display: block;
  height: 100%;

  background-color: #183950;
}

.skills .second-row .my-skills .progress:nth-child(1) .progress-bar span {
  width: 85%;
}
.skills .second-row .my-skills .progress:nth-child(2) .progress-bar span {
  width: 75%;
}
.skills .second-row .my-skills .progress:nth-child(3) .progress-bar span {
  width: 70%;
}
.skills .second-row .my-skills .progress:nth-child(4) .progress-bar span {
  width: 85%;
}
.skills .second-row .my-skills .progress:nth-child(5) .progress-bar span {
  width: 80%;
}
.skills .second-row .my-skills .progress:nth-child(6) .progress-bar span {
  width: 85%;
}
.skills .second-row .my-skills .progress:nth-child(7) .progress-bar span {
  width: 75%;
}
.skills .second-row .my-skills .progress:nth-child(8) .progress-bar span {
  width: 80%;
}
.skills .second-row .my-skills .progress:nth-child(9) .progress-bar span {
  width: 75%;
}
.skills .second-row .my-skills .progress:nth-child(10) .progress-bar span {
  width: 70%;
}
/* end of skills section  */

/* start of contact section  */
.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 2px 2px 20px #00000010;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #2e6f9e;
}
.form-group {
  width: 100%;
  margin-top: 20px;

  font-size: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  color: white;
  padding: 5px;
  background-color: #183950;
  font-size: 18px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  margin-top: 5px;
}

textarea {
  resize: vertical;
}
button[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 24px;
  border-radius: 20px;
  font-family: "Montserrat";
  background-color: #245980;
  color: rgb(27, 166, 247);
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.5s ease background-color;
}
button[type="submit"]:hover {
  background-color: #82ccdd;
  color: #12232e;
}
#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
#status.success {
  background-color: rgb(211, 250, 153);
  animation: status 4s ease forwards;
}
#status.error {
  background-color: rgb(250, 129, 92);
  color: white;
  animation: status 4s ease forwards;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

/* end of contact section  */

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  header {
    width: 100%;
  }
}
